@model Neo4j.ViewModels.ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<h1 class="mb-0">Forgot Password</h1>
<p>Enter your email address and we'll send you an email with instructions to reset your password.</p>
<form asp-action="ForgotPassword" method="post" class="mt-4">
    <div class="form-group">
        <label asp-for="Email" class="form-label" for="exampleInputEmail1">Email address</label>
        <input asp-for="Email" type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="d-inline-block w-100">
        <button type="submit" class="btn btn-primary float-end">Send email</button>
    </div>
</form>