@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class=" ">
    <h2>Mật khẩu của bạn đã được đặt lại thành công.</h2>
    <a href="@Url.Action("SignIn", "SignUp")" class="float-end">Đăng nhập lại bằng mật khẩu mới</a>
</body>
</html>
