<div class="tab-pane fade" id="manage-contact" role="tabpanel">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Manage Contact</h4>
            </div>
        </div>
        <div class="card-body">
            @await Component.InvokeAsync("ManageContact")
        </div>
    </div>
</div>